<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <div style="Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%">
    <center style="width: 100%; table-layout: fixed;">
      <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td style="width: 100%;">
              <div style="max-width:600px;Margin:0 auto">
                <table align="center" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:24px;width:100%;max-width:500px">
                  <tbody>
                    <tr>
                      <td>
                        <table style="margin-bottom:40px;width:100%" width="100%">
                          <tbody>
                            <!-- Header -->
                             {{> header}}
                            <!-- End Header -->
                            <!-- Body -->
                             {{{body}}}
                            <!-- End Body -->
                            <!-- Footer -->
                            {{> footer}}
                            <!-- End Footer -->
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </div>
</body>
</html>