<tr>
  <td></td>
</tr>
<tr>
  <td>
    <table width="100%" style="margin-bottom:20px;width:100%">
      <tbody>
        <tr>
          <td width="100%">
            <div style="width:100%;height:1px;background-color:#ddd" color="#DDD" width="100%"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>

<tr>
  <td style="text-align: center;">
      <p>For more information, please do not hesitate to contact us at: <br><br>
      <a style="color:#0086bf" href="mailto:support@translite.online">support@translite.online</a> 
      or on <br><br>
      WhatsApp <a style="color:#0086bf" href="https://wa.me/+254770144591">0770144591</a></p>
      <p>Kind regards, <br> Team Translite.</p>
  </td>
</tr>
<tr>
  <td style="text-align:center;font-size:13px">
      <a href="https://play.google.com/store/apps/details?id=com.translite"target="_blank" style="color:#00aff5">
          Download the app
          <img src="https://transliteapp.live/src/files/thumbnail/google-play-badge-128x128.png" alt="" style="display:block;width:60;height:50;margin-left:auto;margin-right:auto;margin-bottom:10px" width="60" height="50">
      </a>
  </td>
</tr>